<header>
  <div class="nav-bar__banner">
    <p>
      <i class="fa-solid fa-star"></i> ENTREGA GRATIS A PARTIR DE $70000 // 3 Y
      6 CUOTAS SIN INTERÉS CON TARJETAS BANCARIZADAS
      <i class="fa-solid fa-star"></i>
    </p>
  </div>
  <div class="nav-bar">
    <a href="/" class="logo-link">
      <img src="/design/logo.png" alt="Logo GeekStore" class="logo" />
    </a>
    <div class="search-container">
      <input type="text" placeholder="¿Qué estás buscando?" />
      <!--ícono lupa -->
      <i class="fa-solid fa-magnifying-glass"></i>
    </div>
    <div class="nav-bar__actions">
      <div class="nav-bar__hamburguesa">
        <i class="fa-solid fa-bars"></i>
      </div>
      <div><a href="../users/login" target="_blank"><i class="fa-solid fa-user"></i></a></div>
      <!--ícono user -->
      <div><a href="../products/productCart" target="_blank"><i class="fa-solid fa-cart-shopping"></i></a></div>
      <!--ícono carrito de compras -->
    </div>
  </div>
  <nav class="nav-bar__categories">
    <div class="categoria">INICIO <i class="fa-solid fa-angle-down"></i></div>
    <div class="categoria">
      PRODUCTOS <i class="fa-solid fa-angle-down"></i>
    </div>
    <div class="categoria">TEMATICA <i class="fa-solid fa-angle-down"></i></div>
    <div class="categoria">MANGA <i class="fa-solid fa-angle-down"></i></div>
    <div class="categoria">
      FIGURAS COLECCIONABLES <i class="fa-solid fa-angle-down"></i>
    </div>
    <div class="categoria">
      INDUMENTARIA <i class="fa-solid fa-angle-down"></i>
    </div>
    <div class="categoria">
      ACCESORIOS <i class="fa-solid fa-angle-down"></i>
    </div>
    <div class="categoria">
      COMICS Y LIBROS <i class="fa-solid fa-angle-down"></i>
    </div>
    <div class="categoria">
      JUEGOS Y JUGUETES <i class="fa-solid fa-angle-down"></i>
    </div>
    <div class="categoria">
      GIFT CARD <i class="fa-solid fa-angle-down"></i>
    </div>
  </nav>
</header>
