<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Noctua</title>

  <link rel="stylesheet" href="../styles/general.css" />
  <link rel="stylesheet" href="../styles/home.css" />
  <!-- Iconos -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
  <link rel="icon" type="image/png" href="../design/favicon.ico" />
</head>

<body>
  <div class="nav-bar__banner">
    <p> <i class="fa-solid fa-star"></i> ENTREGA GRATIS A PARTIR DE $70000 // 3 Y 6 CUOTAS SIN INTERÉS CON TARJETAS BANCARIZADAS <i
        class="fa-solid fa-star"></i></p>
  </div>
  <div class="nav-bar">
    <img src="../design/Logo Image.png" />
    <div class="search-container">
      <input type="text" placeholder="¿Qué estás buscando?" />
       <!--ícono lupa -->
      <i class="fa-solid fa-magnifying-glass"></i>
    </div>
    <div class="nav-bar__actions">
      <div><i class="fa-solid fa-user"></i>
      </div>
      <!--ícono user -->
      <div><i class="fa-solid fa-cart-shopping"></i>
      </div>
      <!--ícono carrito de compras -->
    </div>
  </div>
  <div>
    <nav class="categories-nav">
      <ul class="categories-list">
        <li><a href="#">INICIO</a><i class="fa-solid fa-angle-down"></i></li>
        <li><a href="#">PRODUCTOS</a><i class="fa-solid fa-angle-down"></i></li>
        <li><a href="#">TEMATICA</a><i class="fa-solid fa-angle-down"></i></li>
        <li><a href="#">MANGA</a><i class="fa-solid fa-angle-down"></i></li>
        <li><a href="#">FIGURAS COLECCIONABLES</a><i class="fa-solid fa-angle-down"></i></li>
        <li><a href="#">INDUMENTARIA</a><i class="fa-solid fa-angle-down"></i></li>
        <li><a href="#">ACCESORIOS</a><i class="fa-solid fa-angle-down"></i></li>
        <li><a href="#">COMICS Y LIBROS</a><i class="fa-solid fa-angle-down"></i></li>
        <li><a href="#">JUEGOS Y JUGUETES</a><i class="fa-solid fa-angle-down"></i></li>
        <li><a href="#">GIFT CARD</a><i class="fa-solid fa-angle-down"></i></li>
      </ul>
    </nav>
  </div>
  <div class="img-center">
    <img src="../design/Logo Image.png" />
  </div>
  <footer>
    <div class="contactus">
      <ul>
        <li><i class="fa-brands fa-whatsapp"></i> 3511234567</li>
        <li>
          <i class="fa-solid fa-envelope"></i>noctua_geekstore@gmail.com
        </li>
        <li>
          <i class="fa-solid fa-location-dot"></i>Av. Gral. Paz 314, Córdoba
          Capital
        </li>
        <li><i class="fa-brands fa-instagram"></i>Instagram</li>
      </ul>
    </div>
    <div class="copyright">
      <p>
        © Copyright SHIFT geek store - 2025. Todos los derechos reservados.
        Defensa de las y los consumidores. Para reclamos
        <a href="https://autogestion.produccion.gob.ar/consumidores" target="_blank">ingresá acá</a>/Botón de
        arrepentimiento
      </p>
    </div>
  </footer>
</body>

</html>