<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Noctua</title>

  <link rel="stylesheet" href="../styles/general.css" />
  <link rel="stylesheet" href="../styles/home.css" />
  <!-- Iconos -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
  <link rel="icon" type="image/png" href="../design/favicon.ico" />
</head>

<body>
  <div class="nav-bar__banner">
    <p> <i class="fa-solid fa-star"></i> ENTREGA GRATIS A PARTIR DE $70000 // 3 Y 6 CUOTAS SIN INTERÉS CON TARJETAS
      BANCARIZADAS <i class="fa-solid fa-star"></i></p>
  </div>
  <div class="nav-bar">
    <img src="../design/Logo Image.png" />
    <div class="search-container">
      <input type="text" placeholder="¿Qué estás buscando?" />
      <!--ícono lupa -->
      <i class="fa-solid fa-magnifying-glass"></i>
    </div>
    <div class="nav-bar__actions">
      <div><i class="fa-solid fa-user"></i>
      </div>
      <!--ícono user -->
      <div><i class="fa-solid fa-cart-shopping"></i>
      </div>
      <!--ícono carrito de compras -->
    </div>
  </div>
  <nav class="nav-bar__categories">
    <div class="categoria">INICIO <i class="fa-solid fa-angle-down"></i></div>
    <div class="categoria">PRODUCTOS <i class="fa-solid fa-angle-down"></i></div>
    <div class="categoria">TEMATICA <i class="fa-solid fa-angle-down"></i></div>
    <div class="categoria">MANGA <i class="fa-solid fa-angle-down"></i></div>
    <div class="categoria">FIGURAS COLECCIONABLES <i class="fa-solid fa-angle-down"></i></div>
    <div class="categoria">INDUMENTARIA <i class="fa-solid fa-angle-down"></i></div>
    <div class="categoria">ACCESORIOS <i class="fa-solid fa-angle-down"></i></div>
    <div class="categoria">COMICS Y LIBROS <i class="fa-solid fa-angle-down"></i></div>
    <div class="categoria">JUEGOS Y JUGUETES <i class="fa-solid fa-angle-down"></i></div>
    <div class="categoria">GIFT CARD <i class="fa-solid fa-angle-down"></i></div>
  </nav>
  <div class="img-center">
    <img src="../design/Logo Image.png" />
  </div>
  <div class="contactUs__title">
    <div class="contactanos">
      <p>Contactanos!</p>
    </div>
    <div class="nuestrasRedes">
      <p>Nuestras redes</p>
    </div>
  </div>
  <div class="contactUs">
    <div>
      <div class="contact"><i class="fa-brands fa-whatsapp"></i> 3511234567</div>
      <div class="contact"><i class="fa-solid fa-phone"></i> 3516242477</div>
      <div class="contact"><i class="fa-solid fa-envelope"></i>noctua_geekstore@gmail.com</div>
      <div Class="contact"><i class="fa-solid fa-location-dot"></i>Av. Gral. Paz 314, Córdoba
        Capital</div>
    </div>
    <div class="redes">
      <div class="redes"><i class="fa-brands fa-instagram"></i> noctua.geek.store</div>
      <div class="redes"><i class="fa-brands fa-square-facebook"></i> Noctua Geek Store</div>
    </div>
  </div>
  <footer>
    <div class="footer__copyright">
      <p>
        © Copyright SHIFT geek store - 2025. Todos los derechos reservados.
        Defensa de las y los consumidores. Para reclamos
        <a href="https://autogestion.produccion.gob.ar/consumidores" target="_blank">ingresá acá</a>/Botón de
        arrepentimiento
      </p>
    </div>

  </footer>
</body>

</html>