<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>

  <body>
    <%- include('partials/header') %>

    <div class="img-center">
      <img src="/design/fon2.png" />
    </div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe dolorem, fuga dicta minima labore cum corrupti assumenda quod accusamus modi, sunt eligendi officiis enim expedita, ipsa sapiente consequatur dolor magnam?
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui et laboriosam quibusdam soluta dolorum, non at voluptas, autem ipsa maiores alias vero sed voluptatibus perspiciatis ad explicabo magnam ut <provident class="lo">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In dolorum voluptate, eius velit nobis nostrum deleniti inventore necessitatibus. Alias enim vitae obcaecati sequi ullam blanditiis eaque, totam eius cupiditate mollitia?Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut laudantium dolor necessitatibus dicta blanditiis quos, ex corrupti, vero incidunt magnam sapiente labore quaerat ratione sit autem asperiores nobis perspiciatis tempore?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos esse, optio, doloremque assumenda quia quod earum, libero hic omnis quae aliquid velit tempore temporibus magnam natus accusantium quisquam iure sunt!lololo Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi aliquid, et culpa corporis eum nobis modi perspiciatis rem voluptates beatae sit in, libero qui, incidunt quibusdam facere nihil fugit amet? Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus esse laboriosam nemo a aliquam vero dolorum iure libero quia numquam fuga assumenda aliquid, consectetur est voluptatibus quaerat, expedita et tempore? Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi nulla id omnis dolorem odit fugit consequatur magni molestiae minima inventore cum sed autem exercitationem, excepturi veritatis, consectetur debitis minus saepe. Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure adipisci laborum impedit neque praesentium quas quasi et, quaerat enim consequatur debitis, in nostrum perspiciatis placeat blanditiis suscipit quidem earum. Vel.</provident>
    </p>
    <%- include('partials/footer') %>
  </body>
</html>
