<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %> 
  <%- include('../partials/header') %>
  <h3>PAGINA DE CATALOGO</h3>
  <%- include('../partials/footer') %>

  <body></body>
</html>
