</div>
    <div class="contactUs__container">
      <div class="contactUs">
        <div class="contactanos">
          <p>Contactanos <i class="fa-regular fa-hand-point-down"></i></p>
        </div>
        <div class="contacts">
          <div class="contact">
            <i class="fa-brands fa-whatsapp"></i> 3511234567
          </div>
          <div class="contact">
            <i class="fa-solid fa-phone"></i> 3516242477
          </div>
          <div class="contact">
            <i class="fa-solid fa-envelope"></i>noctua_geekstore@gmail.com
          </div>
          <div class="contact">
            <i class="fa-solid fa-location-dot"></i>Av. Gral. Paz 314, Córdoba
            Capital
          </div>
        </div>
      </div>
      <div class="ContactUs__redes">
        <div class="nuestrasRedes">
          <p>Nuestras redes <i class="fa-regular fa-hand-point-down"></i></p>
        </div>
        <div class="redesSociales">
          <div class="redes">
            <i class="fa-brands fa-instagram"></i> noctua.geek.store
          </div>
          <div class="redes">
            <i class="fa-brands fa-square-facebook"></i> Noctua Geek Store
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="footer__copyright">
        <p>
          © Copyright SHIFT geek store - 2025. Todos los derechos reservados.
          Defensa de las y los consumidores. Para reclamos
          <a
            href="https://autogestion.produccion.gob.ar/consumidores"
            target="_blank"
            >ingresá acá</a
          >/ Botón de arrepentimiento
        </p>
      </div>
    </footer>