html,
body {
  display: flex;
  flex-direction: column;
}

:root {
  --colorPrincipal: #1a1625;
  --colorSecundario: #c44569;
  --Fondo: #2d2438;
  --colorFont: white;
  --detail: #f8b500;
}

main,
main p {
  display: flex;
  justify-content: center;
  flex: 1;
  height: auto;
  margin: 30px 0 30px;
  color: var(--colorFont);
}

h2 {
  margin-bottom: 25px;
  color: var(--colorFont);
  display: flex;
  justify-content: center;
}

.form-container {
  max-width: 600px;
  width: 100%;
  padding: 30px;
  text-align: center;
  background-color: var(--Fondo);
  border-radius: 12px;
  border: 1px solid var(--colorSecundario);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.breadcrumb,
.breadcrumb a {
  font-size: 12px;
  color: var(--colorFont);
  margin-bottom: 15px;
  text-decoration: none;
}

.breadcrumb a:hover {
  color: var(--colorSecundario);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

label {
  text-align: left;
  font-size: 14px;
  color: var(--colorFont);
  margin-top: 16px;
}

.form input,
textarea {
  padding: 10px;
  border: 1px solid var(--colorSecundario);
  border-radius: 12px;
  width: 100%;
  background-color: var(--fontColor);
  font-family: Georgia, Cambria, "Times New Roman", serif;
  color: var(--colorFont);
}

input[type="file"]::file-selector-button {
  background-color: var(--Fondo);
  color: var(--fontColor);
  border: 1px solid var(--colorSecundario);
  padding: 5px 5px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 12px;
}

input[type="file"]::file-selector-button:hover {
  background-color: var(--colorSecundario);
  color: var(--colorFont);
}

.password-wrapper {
  position: relative;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: var(--colorFont);
}

button {
  background-color: var(--colorPrincipal);
  color: var(--colorFont);
  padding: 12px;
  border: 1px solid var(--colorSecundario);
  border-radius: 12px;
  cursor: pointer;
  margin-top: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 20px;
}

button:hover {
  background-color: var(--colorSecundario);
}

.link {
  font-size: 13px;
  margin-top: 10px;
  gap: 6px;
}

.link a {
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

.link a:hover {
    color: var(--colorSecundario);
  }

