:root {
  --colorPrincipal: #1a1625;
  --colorSecundario: #c44569;
  --Fondo: #2d2438;
  --colorFont: white;
  --detail: #f8b500;
}

/* Contenedor principal - listado de productos */
.products-list {
  display: flex;
  gap: 16px;
  margin-top: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

/* Tarjeta de producto */
.product-card {
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  margin: 0, 10px;
  width: 340px;
  height: 520px;
  padding: 10px;
  background-color: var(--colorSecundario);
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

/*Imagen de priducto*/
.product-image {
  max-width: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-image img {
  max-height: 240px;
  max-width: 100%;
}

/*div que envuelve nombre y descrioción de producto*/
.product-info {
  padding: 12px;
}

.product-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--colorPrincipal);
}

.product-description {
  color: var(--Fondo);
  font-size: 1
  6px;
}
/*Div que envuelve al precio*/
.product-price {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  padding: 12px;
  font-size: 22px;
}

.price {
  font-size: 22px;
  font-weight: bold;
  color: var(--Fondo)
}

/*Comprar/Ver*/
.product-actions {
  display: flex;
  gap: 16px;
}

.btn-primary {
  background-color: var(--colorPrincipal);
  color: var(--colorFont);
  padding: 12px;
  border: 1px solid var(--colorSecundario);
  border-radius: 12px;
  cursor: pointer;
  margin-top: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 20px;
}

.btn-primary:hover {
  background: var(--colorSecundario);
}

.btn-secondary {
  background-color: var(--colorPrincipal);
  color: var(--colorFont);
  padding: 12px;
  border: 1px solid var(--colorSecundario);
  border-radius: 12px;
  cursor: pointer;
  /* margin-top: 30px; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 20px;
}

.btn-secondary:hover {
  background: #667eea;
  color: white;
}
