<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>

  <link rel="stylesheet" href="/styles/form.css" />

  <body>
    <%- include('../partials/header') %>
    <main>
      <div class="form-container">
        <div class="breadcrumb">
          <a href="/"> Inicio </a> > <a href="/users/login"> Mi Cuenta </a> >
          <a href="/users/login"> Login </a>
        </div>
        <h2>Iniciá sesión</h2>

        <form class="form">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" required />

          <label for="password">Contraseña</label>
          <div class="password-wrapper">
            <input type="password" id="password" name="password" required />
            <span class="toggle-password"
              ><i class="fa-solid fa-eye-slash"></i
            ></span>
          </div>

          <a href="#" class="forgot-password">¿Olvidaste tu contraseña?</a>

          <button type="submit">INICIAR SESIÓN</button>

          <p class="link">
            ¿No tenés cuenta aún?
            <a href="/users/register" target="_blank">Crear cuenta</a>
          </p>
        </form>
      </div>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
