<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>

  <link rel="stylesheet" href="/styles/form.css" />

  <body>
    <%- include('../partials/header') %>
    <main>
      perfil de usuario
      <%= locals.userLogged.name %>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
