* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: aliceblue;
}

ul {
  padding: 0;
}

.nav-bar__banner {
  display: flex;
  background-color: aliceblue;
  height: 12px;
  align-items: center;
  justify-content: center;
}

.nav-bar__banner p {
  text-align: center;
  font-size: 8px;
}

.nav-bar {
  background: #213448;
  display: flex;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 32px;
  align-items: center;
  height: 100px;
  gap: 16px;
}

.nav-bar img {
  width: 70px;
}

.search-container {
  background-color: aliceblue;
  display: flex;
  border-radius: 80px;
  height: 24px;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 600px;
  padding: 0 8px;
}

.search-container input {
  display: flex;
  flex: 1;
  /* Ocupa todo el espacio disponible */
  border-radius: 80px;
  border: none;
  background-color: transparent;
  text-align: start;
}

input:focus {
  outline: none;
}

.nav-bar__actions {
  display: flex;
  gap: 30px;
  cursor: pointer;
  font-size: 24px;
  text-align: center;
  color: aliceblue;
}

.fa-user:hover {
  color: #547792;
}

.fa-cart-shopping:hover {
  color: #547792;
}

.fa-magnifying-glass {
  font-size: 12px;
}

.categories-nav {
  background: #213448;
  border-top: 1px solid #547792;
  white-space: nowrap;
  overflow-x: auto;
  display: flex;
}

/*Oculta el scroll*/
.categories-nav::-webkit-scrollbar {
  display: none;
}

.categories-list {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 34px;
  align-items: center;
  list-style: none;
  margin: 0;
  font-size: 10px;
  color: aliceblue;
  gap: 12px;
}

.categories-list li {
  display: flex;
  gap: 6px;

}

.categories-list li a {
  text-decoration: none;
  color: aliceblue;
} 

 .categories-list li a:hover {
  padding-bottom: 2px;
  border-bottom: 1px solid #547792;
} 

.categories-list i:hover {
  color: #547792;
  cursor: pointer;
}

footer {
  display: flex;
  flex-direction: column;
  background: linear-gradient(90deg,
      hsl(197, 27%, 67%) 0%,
      rgba(84, 119, 146, 1) 50%,
      rgba(33, 52, 72, 1) 100%);
  justify-content: space-evenly;
  align-items: center;
  padding: 16px;
  height: 150px;
  gap: 16px;
  width: 100%;
}

.contactus ul {
  list-style: none;
  display: flex;
  gap: 16px;
}

.contactus li {
  display: flex;
  gap: 4px
}

.copyright {
  text-align: center;
}

.copyright a {
  text-decoration: none;
  color: #547792;
}

.img-center img {
  max-width: 700px;
}

.img-center {
  width: 100%;
  display: flex;
  justify-content: center;
}