<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head') %>
  <link rel="stylesheet" href="/styles/form.css" />
  <body>
    <%- include('../partials/header') %>
    <main>
      <div class="form-container">
        <h2>Crear Producto</h2>
        <form class="form" action="/products/create" method="POST">
          <label for="name">Nombre del Producto</label>
          <input
            type="text"
            name="name"
            id="name"
            placeholder="Ingrese el nombre del producto"
            required
          />
          <label for="description">Descripción</label>
          <textarea
            name="description"
            id="description"
            placeholder="Ingrese una descripción del producto"
            required
          ></textarea>
          <label for="image">Imagen</label>
          <input type="file" name="image" id="image" />

          <label for="category">Categoría</label>
          <input
            type="text"
            name="category"
            id="category"
            placeholder="Ingrese una categoría"
            required
          />

          <label for="colors">Colores/Talles</label>
          <input
            type="text"
            name="colors"
            id="colors"
            placeholder="Ingrese color/talle del producto"
          />

          <label for="price">Precio</label>
          <input
            type="number"
            name="price"
            id="price"
            placeholder="Ingrese el precio del producto"
            step="0.01"
            required
          />

          <button type="submit">CREAR PRODUCTO NUEVO</button>
        </form>
      </div>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
