<!DOCTYPE html>
<html lang="en">
 <%- include('../partials/head') %> 
  
<body>
     <%- include('../partials/header') %>
     <h3>PAGINA DE DETALLE DE PRODUCTO</h3>
     <%- include('../partials/footer') %>
</body>

</html>